  .coin-header,.coins{
    display: grid;
    grid-template-columns: 30% 12% 10% 19% 10% 19%;
    gap: 5px;
    border-bottom: 1px solid grey;
    padding: 10px 0;

  }
  .coin-header .coin-no{
    font-weight: 400;
    color: #f2a900;
  }
  .coin-no{
    padding-left:5px;
  }
  .coins:hover{
    background: var(--color-surface-500);
    transition: .07s ease;
  
  }
  .coin-info{
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left:5px;
  }
  .coins .det{
    padding-top:7px ;
    padding-bottom: 3px;
  }
 
  .coin-img img {
    width: 25px;
    margin-right: 10px;
  }
  .coin-symbol span {
    font-size: .9rem;
    text-transform: uppercase;
    color: var(--color-surface-400);
  }
  .coin-name h1{
    font-size: 1.1rem;
    margin-right: 12px;
  }
  .coin-info h4{
    margin-right: 20px;
  }
  a{
    text-decoration:none;
    color:var(--color-primary-100);
  
  }
  .coin-n-s{
    display: flex;
  }
