.coins{
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--color-surface-600);
    padding: 10px 0;
    cursor: pointer;
  }
  .coins:hover{
    background: var(--color-surface-500);
    transition: .07s ease;
  
  }
  .coin-info{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left:5px;
  }
   .coin-details{
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: start;
    text-align: left;
    font-size: 1rem;
  }
 
  .coin-img img {
    width: 26px;
    margin-right: 10px;
  }
  .coin-symbol span {
    text-transform: uppercase;
    color: var(--color-surface-400);
  }
  .coin-name h1{
    font-size: 1.2rem;
    margin-right: 12px;
  }
  .coin-info h4{
    margin-right: 20px;
  }