@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200;10..48,300;10..48,400;10..48,500;10..48,600;10..48,700&family=JetBrains+Mono:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;1,300;1,400;1,500;1,600;1,700&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300;1,400&family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Rubik:wght@300;400;500;600;700&display=swap');
:root{
    --theme-primary:#f2a900;
    
    --color-primary-100: #f2f2f2;
    --color-primary-200: #f3f3f3;
    --color-primary-300: #f5f5f5;

    --color-surface-100: #121212;
    --color-surface-200: #282828;
    --color-surface-300: #3f3f3f;
    --color-surface-400: #5e5e5e;
    --color-surface-500: #33333383;
    --color-surface-600: #333333cb;

    --box-shadow-1:rgba(0, 0, 0, 0.356) 0px 4px 12px;
    --box-shadow-2: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    --box-shadow-3: rgba(0, 0, 0, 0.205) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bricolage Grotesque",sans-serif;
    
}
a{
  text-decoration: none;
  
}
body{
  color: var(--color-primary-300);
  background-color: var(--color-surface-100);
}
.App{
    min-height: 100vh;
    max-width: 90%;
    margin: auto;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 0;
    margin-bottom: 1%;
}
.header-title{
    display: flex;
    gap: 5px;
}

.header-title img{
    width: 40px;
}
.header-title h2{
   color: #f2a900;
    font-size: 2.3rem;
    letter-spacing: .2rem;
}
 select{
    width: 80px;
    border-radius: 5px;
    border: 1px solid #f2a900;
    height: 30px;
    padding: 3px 6px;
    outline: none;
    font-size: .9rem;
    background:var(--color-surface-100) ;
    color: var(--color-primary-300);
  }
/* .curr select option:checked{
    background: #f2a900;
} */
/* .curr select option:hover{
    color: pink;
    background-color: #f2a900;

} */
option{
  transition: .3s ease-in;
  background-color: var(--color-surface-100);
  color: var(--color-primary-300);
}
option:checked{
  /* background-color: var(--color-surface-400); */
  background-color: #f2a900;
  color: var(--color-primary-300);
}

.search-bar {
    width: 100%;
    padding: 9px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background: var(--color-surface-100);
    color: white;
  }
  
  .search-bar::placeholder {
    color: #999;
    font-size: .9rem;
  }
  .search{
    position: relative;
    margin-bottom: 10px;
  }
  
  .search-bar:focus {
    outline: none;
    border-color: #f2a900;
  .search .bx{
    color: white;
    }
  }
  .search .bx{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    cursor: pointer;
    font-size: 1.1rem;
    color: #f2a900;
  }
  .title{
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 3%;
  }

 .error{
  font-size: 1.3rem;
  color: #f2a900;
  text-align: center;
  margin-top: 30px;

 }
 .spinner {
  margin: 7% auto;
   width: 40px;
   height: 40px;
   border-radius: 50%;
   background: radial-gradient(farthest-side,#f2a900 94%,#0000) top/6.4px 6.4px no-repeat,
          conic-gradient(#0000 30%,#f2a900);
   -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 6.4px),#000 0);
   animation: spinner-c7wet2 0.8s infinite linear;
}

@keyframes spinner-c7wet2 {
   100% {
      transform: rotate(1turn);
   }
}
.red{
  color: rgb(243, 20, 20);
}
.green{
color: rgb(20, 150, 20);
}  
@media screen and (max-width:1070px) {
  .coin-n-s{
   flex-direction: column;
  }
  .coins,.coin-header{
    grid-template-columns: 24% 12% 11% 21% 11% 21%;
  }
  .title{
    font-size: 1.3rem;
  }
  .header-title h2{
     font-size: 2.2rem;
   }
}
@media screen and (max-width:930px) {
  .vol{
    display: none;
  }
  .coins,.coin-header{
    grid-template-columns: 25% 16% 14% 26% 20%;
  }
  .coin-name h1{
    font-size: 1rem;
    margin-right: 10px;
  }
  .coin-symbol span {
    font-size: .8rem;
  }
  .title{
    font-size: 1.25rem;
  }
  .header-title h2{
    font-size: 2.3rem;
  }
  select{
    width: 55px;
    height: 28px;
    padding: 2px 2px;
    font-size: .7rem;
  }
}
@media screen and (max-width:770px) {
  .market-cap-change{
    display: none;
  }
  .coins,.coin-header{
    grid-template-columns: 28% 22% 18% 32%;
  }
  .title{
    font-size: 1.15rem;
  }
  .header-title h2{
    font-size: 2.1rem;
  }
  .header-title img{
    width: 36px;
  }
  .search-bar {
    padding: 8px;
    font-size: 13px;
  }
  select{
    width: 50px;
    height: 25px;
    padding: 1px 2px;
    font-size: .6rem;
  }
} 
 @media screen and (max-width:630px) {
  .market-cap{
    display: none;
  }
  .coins,.coin-header{
    grid-template-columns: 40% 30% 30%;
    padding: 7px 0;
  }
  .coins .det{
    padding-top:12px ;
  }
  .coin-info h4{
    font-size: .8rem;
    font-weight: 300;
    color: #f2a900;
  }
  .title{
    font-size: 1rem;
  }
  .header-title img{
    width: 31px;
  }
  .search-bar::placeholder {
    font-size: .7rem;
  }
  .search-bar {
    padding: 7px;
  }
 
}
@media screen and (max-width:455px) {
  .coins,.coin-header{
    grid-template-columns: 45% 30% 25%;
  }
   .det{
    font-size: .7rem;
  }
  .coin-img img {
    width: 20px;
    margin-right: 5px;
  }
  .coin-name h1{
    font-size: .8rem;
    margin-right: 9px;
  }
  .coin-info h4{
    margin-right: 10px;
  }
  .coin-symbol span {
    font-size: .7rem;
  }
  .coins,.coin-header{
    padding: 3px 0;
  }
  .title{
    font-size: .75rem;
  }
  .header-title h2{
    font-size: 1.6rem;
  }
  .header-title img{
    width: 28px;
  }
  .search-bar::placeholder {
    font-size: .6rem;
  }
  .search-bar {
    padding: 5px;
    font-size: 13px;
  }
}
