.info-body{
    width:85% ;
    margin: 20px auto;
    /* background: red;   */
}
.info-name{
    width: 100%;
    margin-bottom: 20px;

}
 .info-name h3{
    text-align: center;
    font-size: 2.3rem;
    letter-spacing: .2rem;
    padding: 20px 0;
    border-radius: 15px;
    box-shadow: var(--box-shadow-primary);
    background-color: var(--color-surface-200);

}
.info-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    position: relative;
    box-shadow: var(--box-shadow-1);

    /* background: var(--color-surface-200); */
    border-radius: 15px;
    margin-bottom: 20px;
}
.info-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 30px 10px 20px 10px;
}
.rank{
    position: absolute; 
    top: 0;
    left: 0;
    letter-spacing: 2px;
    font-family: "Poppins",sans-serif;
}
.info-1 img{
    width:35px;
}
.info-1 .symbol{
    text-transform: uppercase;
    font-size: .8rem;
    padding: 5px;
    background: var(--color-surface-600);
    border-radius: 3px;
    
}
.info-1 h3{
    font-size: 2rem;
}
.rank{
    font-size: 1rem;
    text-transform: uppercase;
    background: var(--theme-primary);
    padding: 1px 4px;
    border-radius: 4px;
    /* color: var(--color-surface-100); */

}

.info-price h2{
    margin-right: 40px;
    text-align: center;
    font-size: 2.3rem;
}
.info-history{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,auto));
    margin-bottom: 20px;
    gap: 5px;
    border-radius: 15px;

}
.history{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-right: 5px;
    box-shadow: var(--box-shadow-2);
    padding-bottom: 15px ;
}
.history .val{
    font-family: "JetBrains Mono",sans-serif;
}
.history .period{
    background:var(--color-surface-200) ;
    padding: 5px;
    border-radius: 5px;
}
.history .val{
    padding-left: 5px;
}