.info-body{
    width:90% ;
    margin: 20px auto;
    /* background: red;   */
}
.info-name{
    width: 100%;
    margin-bottom: 5%;

}
 .info-name h3{
    text-align: center;
    font-size: 2.3rem;
    letter-spacing: .2rem;
    padding: 2% 0;
    border-radius: 15px;
    box-shadow: var(--box-shadow-primary);
    background-color: var(--theme-primary);

}
.info-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    position: relative;
    box-shadow: var(--box-shadow-1);
    border-radius: 15px;
    margin-bottom: 20px;
}
.info-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 30px 10px 20px 10px;
}
.rank{
    position: absolute; 
    top: 0;
    left: 0;
    letter-spacing: 2px;
    font-family: "Poppins",sans-serif;
    text-transform: uppercase;
    background: var(--theme-primary);
    padding: 1px 4px;
    border-radius: 4px;
    color: var(--color-surface-100);
}
.info-1 img{
    width:35px;
}
.info-1 .symbol{
    text-transform: uppercase;
    font-size: .8rem;
    padding: 5px;
    background: var(--color-surface-600);
    border-radius: 3px;
    
}
.info-1 h3{
    font-size: 2rem;
}
.info-price h2{
    margin-right: 40px;
    text-align: center;
    font-size: 2.1rem;
}
.info-history-1{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,auto));
    margin-bottom: 20px;
    gap: 5px;
    border-radius: 15px;

}
.info-price span,.history-1 .val{
    font-family: "Poppins",sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
}
.history-1{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-right: 5px;
    box-shadow: var(--box-shadow-2);
    padding-bottom: 10px ;
}

.history-1 .period{
    background-color: var(--theme-primary);
    color: var(--color-primary-100);
    padding: 5px;
    border-radius: 5px;
}
.history-1 .val{
    padding-left: 5px;
   
}
.info-history-2{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(360px,auto));
    margin-bottom: 20px;
    gap: 20px 15px;
    box-shadow: var(--box-shadow-1);
    padding: 10px 5px;
}
.info-history-2 .history-2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid var(--color-surface-600) ;
    padding: 5px ;
}
i{
    vertical-align:middle;
    padding-left: 2px;
    margin-bottom: 18px;
}
